{% load static %}

<header class="header-section">
    <div class="container">
        <!-- logo -->
        <a class="site-logo" href="{% url 'home' %}">
            <img src={% static "img/logo.png" %} alt="logo">
        </a>
        <!-- responsive -->
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <!-- site menu -->
        <nav class="main-menu">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Games</a></li>
                <li><a href="{% url 'blog_post' %}">Blog</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'create_blog' %}">Crear Post</a></li>
            </ul>
        </nav>
    </div>
</header>