{% extends 'home.html' %}
{%load static%}
{% block title %}<title>Game Warrior About</title>{% endblock title %}

{% block hero %}
<section class="page-info-section set-bg" data-setbg={% static "img/page-top-bg/2.jpg" %}>
  <div class="pi-content">
    <div class="container">
      <div>
        <div class="col-xl-5 col-lg-6 text-white">
          <h2 class=>{% block titulo_hero %}About{% endblock titulo_hero %}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block info %}
<section class="recent-game-section spad set-bg" data-setbg={% static "img/recent-game-bg.png" %}>
  <div class="container">
    <div class="section-title">
      <h2>Un poco Sobre Mi</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis tempora perspiciatis molestias iusto ducimus
        soluta mollitia ratione, fuga praesentium, reiciendis minima! Facere, veniam! Omnis, quod molestias quo fugit enim
        vero vitae, cumque tenetur at, impedit provident dicta laudantium quia facilis consequuntur blanditiis iste
        laborum voluptatibus libero doloribus? Pariatur voluptatem obcaecati deserunt aperiam exercitationem nam voluptas
        rerum reprehenderit minima, earum impedit saepe eos ducimus fugit itaque a nulla omnis architecto laudantium
        blanditiis? Eius ipsum quidem enim architecto fugiat porro inventore libero praesentium aperiam nulla
        exercitationem nemo soluta, culpa impedit est et doloribus ut necessitatibus odit, dicta voluptate! Vero ab nulla
        placeat.</p>
    </div>
  </div>
</section>
  {% endblock %}